<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package userId="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package userId="mongocsharpdriver" version="2.2.4" targetFramework="net452" />
  <package userId="MongoDB.Bson" version="2.2.4" targetFramework="net452" />
  <package userId="MongoDB.Driver" version="2.2.4" targetFramework="net452" />
  <package userId="MongoDB.Driver.Core" version="2.2.4" targetFramework="net452" />
  <package userId="Moq" version="4.5.16" targetFramework="net45" />
  <package userId="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package userId="NUnit" version="3.4.1" targetFramework="net452" />
  <package userId="NUnit.Console" version="3.4.1" targetFramework="net452" />
  <package userId="NUnit.ConsoleRunner" version="3.4.1" targetFramework="net452" />
  <package userId="NUnit.Extension.NUnitProjectLoader" version="3.4.1" targetFramework="net452" />
  <package userId="NUnit.Extension.NUnitV2Driver" version="3.4.1" targetFramework="net452" />
  <package userId="NUnit.Extension.NUnitV2ResultWriter" version="3.4.1" targetFramework="net452" />
  <package userId="NUnit.Extension.TeamCityEventListener" version="1.0.1" targetFramework="net452" />
  <package userId="NUnit.Extension.VSProjectLoader" version="3.4.1" targetFramework="net452" />
  <package userId="NUnitTestAdapter" version="2.0.0" targetFramework="net452" />
  <package userId="Z.ExtensionMethods" version="2.0.10" targetFramework="net452" />
</packages>